<html>
	<div>
		账号: <br/>
		<input type="text" id="email" onclick="this.select()" class="layui-input " value={{ .AppleID }}>
	</div>
	<div>
		密码: <br/>
		<input type="text" id="pwd" onclick="this.select()" class="layui-input " value={{ .Password }}>
	</div>
</html>